* {
  margin: 0;
}
a {
  text-decoration: none;
}
html, body {
  height: 100%;  
  font-family: 'Graphik-Regular';      
}
.page-wrap {   
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -342px; 
}
.page-wrap h1 {
  text-align:center;
  color: #ffffff;
  font-family: 'Graphik-Medium'; 
  font-weight: 100;    
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 342px;  
}
.site-footer {
  background: #8f8eb2;
}

button {
  color: white;
  border-radius: 50px;
  padding: 0.5em;
  width: 18em;
  height:4em;    
  border: none;
  outline: none;
  display: block;
  margin: 0.5em 0;
  cursor: pointer;
  margin: auto;
  font-family: 'Graphik-Regular';        
}

button:hover { opacity: 0.9 }

button#facebook, .facebook   { background: #4a63a4; }


html, body, svg { height: 100%; width: 100%; margin: 0; background: #8f8eb2;}

.eye1, .eye2 {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50%;
}
 
 @-webkit-keyframes blink {
    0% { -webkit-transform: scaleX(1) scaleY(1); }
    1% { -webkit-transform: scaleX(1.3) scaleY(0.1); }
    2% { -webkit-transform: scaleX(1) scaleY(1); }
    60% { -webkit-transform: scaleX(1) scaleY(1); }
    61% { -webkit-transform: scaleX(1.3) scaleY(0.1);}
    62% { -webkit-transform: scaleX(1) scaleY(1); }
    100% { -webkit-transform: scaleX(1) scaleY(1); }
 }   
   
.teeth1 {
  -webkit-transform: translateY(0px);
  -webkit-animation: popup 10s 6.5s ease infinite;
}   
.teeth2 {
  -webkit-transform: translateY(-50px);
  -webkit-animation: popup2 7s 6.5s ease infinite;
}
@-webkit-keyframes popup {
    0% {
    -webkit-transform: translateY(0px);
  }
  34% {
    -webkit-transform: translateY(0px);
  }
  67% {
    -webkit-transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}   
@-webkit-keyframes popup2 {
    0% {
    -webkit-transform: translateY(-50px);
  }
  34% {
    -webkit-transform: translateY(0px);
  }
  67% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }  
}   

@font-face {
  font-family: 'Graphik-Medium';
  src: url('graphik/Graphik-Medium.otf'); /* IE9 Compat Modes */ 
}